/* global styles */

body {
    margin: 7px auto; 
}
  h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 1.0;
    text-align: left;
  }

 .log-in-btn {
     font-family: 'Montserrat', sans-serif; 
     font-weight: bold;
     font-size: 20px;
     width: 180px;
     height: 50px;
     border-radius: 10px;
     background-color: #07beb8;
     color: white; 
     flow: right; 
   } 

  .Help {
      width: 52px;
      height: 22px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.79;
      letter-spacing: normal;
      text-align: right;
      color: #07beb8;
      flow: right; 
    }

  .LOGO {
      width: 167px;
      height: 41px;
      color: #07beb8;
      font-weight: bold;
    }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 30;
    line-height: 0.92;
    text-align: center;
    color: #272727;
  }

  h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 0.63;
    text-align: left;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.79;
    text-align: center;
  }

  p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.38;
    text-align: left;
    color: #272727;
  }

  s1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  s2 {
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.19;
    text-align: left;
    color: #272727;
  }

  turquoise: #07beb8;
  bright-orange: #ff6501;
  charcoal: #272727;

  img {
     animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
     background: transparent;
     border: 10px solid rgba(0, 0, 0, 0.12);
     border-radius: 4px;
     display: block;
     margin: 1.3em auto;
     max-width: 95%;
        }

/* Homepage */

  .a-network-text {
      width: 450px;
      height: 280px;
      margin-top: 0; 
      padding-top: 0;
      border-top: 0;
      margin-bottom: 40px; 
      font-family:'Montserrat', sans-serif;
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
}
 
  .join-now-btn {
      width: 190px;
      height: 60px;
      border-radius: 20px;
      background-color: #ff6501;
      border: solid 4px #ffffff;
      font-family:'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 0.63;
      text-align: center;
}

  .or-learn-more { 
      padding: 30px 0;
      width: 170px;
      height: 28px;
      color: #ffffff;
}

  .learn-more-link{
      font-weight: bold;
      color: white;
}

  .Its-free {
      padding-top: 80px;
      padding-left: 20px;
      padding-bottom:0;
      margin-bottom: 100px; 
      width: 170px;
      height: 20px;
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.53;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
}

  .Rounded-Rectangle-6 {
      width: 700px;
      min-height:350px;
      opacity: 0.5;
      border-radius: 10px;
      background-color: #04726e;
      z-index: 1;
}

.Make-connections-text {
      display: block; 
      padding: 10px 0; 
      margin: 0 0 20px 0; 
      font-size: 17.5px; 
      line-height: 1.5; 
      text-align: left; 
      box-sizing: border-box;
      float: right; 
}

.icons {
      display: block; 
      padding: 10px 0;
      margin: 0 0; 
      width: 62px; 
      height: 84px; 
      float: right; 
}
